<div class="single-player">
    <div class="left">
        <span class="material-icons-outlined">account_circle</span>
    </div>

    <div class="right">
        <div class="top">
            <button>
                <span class="material-icons-outlined">delete</span>
                Delete
            </button>
        </div>

        <div class="name">
            <h2>Player #1</h2>
        </div>

        <div class="main">
            <div class="counter">
                <h1>0</h1>

                <button>
                    <span class="material-icons-outlined">restart_alt</span>
                    Reset
                </button>
            </div>

            <div class="counter-buttons">
                <button class='increment'>
                    <span class="material-icons">add</span>
                    Increment
                </button>

                <button class='decrement'>
                    <span class="material-icons">remove</span>
                    Decrement
                </button>
            </div>
        </div>
    </div>
</div>