.no-players {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    margin-top: 35px;

    color: #514D8A;

    p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 374px) and (max-width: 813px) { 
    .no-players {
        p {
            font-size: 15px;
        }
    }
}