<div class="players">
    <app-no-players *ngIf='noPlayers'></app-no-players>

    <div class="players-wrapper">
        <div class="top">
            <div class="players-count">Total players: {{ players.length }}</div>

            <button>
                <span class="material-icons-outlined">delete</span>
                Delete all
            </button>
        </div>

        <app-single-player *ngFor='let player of players' [player]='player'></app-single-player>
    </div>

    <div class="button-wrapper">
        <button (click)='addPlayers()'>
            <span class='material-icons'>add</span>
            Add player
        </button>
    </div>
</div>