.players {
    width: 60%;
    height: 100vh;

    padding-top: 60px;
    padding-bottom: 60px;

    margin: 0 auto;

    background-color: #F3F3F7;

    overflow: auto;

    .players-wrapper {
        width: 60%;

        margin: auto;
        margin-top: 30px;

        overflow: auto;

        background-color: #F3F3F7;

        .top {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                width: 110px;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                padding: 4px;

                background-color: #E32D2D;

                color: white;

                border: none;

                outline: none;

                font-weight: lighter;

                font-size: 15px;

                border-radius: 3px;

                cursor: pointer;

                span {
                    font-size: 17px;
                }
            }
        }
    }

    .button-wrapper {
        width: 100%;

        margin-top: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 120px;
    
            padding: 5px;
    
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
    
            border: none;
            border-radius: 3px;
    
            outline: none;
    
            background-color: #BB691E;

            cursor: pointer;

            box-shadow: 0 4px 3px 0 rgba(10, 60, 49, 0.20);
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 813px) { 
    .players {
        width: 80%;

        .players-wrapper {
            width: 90%;
        }

        .button-wrapper {
            button {
                width: 150px;

                font-size: 20px;
            }
        }
    }
}
